// Import page-specific CSS files here.
@import "home";
@import "about";

.wrapper {
  margin: 40px;
}

h2 {
  text-align:center;
}


.box {
  background-image: linear-gradient(0deg, red 50%, beige 50%);
}
